<header id="header-home-layout" style="background-image: url(<%- coverImage %>)">

  <div class="header-home-layout__nav">
    <a class="header-home-layout__nav__back" href="/">
      <i class="fa fa-angle-left"></i>

      返回主页
    </a>

    <div class="header-home-layout__nav__status">
      <a class="header-user-unlogined-status" href="<%= appHost %>/login">登入</a>
    </div>
  </div>



  <img class="header-home-layout__logo" src="/img/logo.png">
  <div class="header-home-layout__title-wrap">
    <h1 class="header-home-layout__title header-home-layout__title--course">
      <%= title %>
    </h1>
  </div>

  <%- partial("subscribe-form") %>

  <%- partial("../nav") %>


</header>
